
    <!doctype html>
    <html>
    <head>
    
    <title>Shinra Corp - AUTHENTICATION</title>
    <meta charset="utf-8">
    <meta name="ShinraCorp" content="Inventory Management">
    <meta name="keywords" content="Inventory">
    <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div class="container" >
            <div class="pad_container"><h2>PLEASE LOGIN</h2></div>
            <div class="side_pad">2</div>
            <div class="side_pad">3</div>
            <div class="main_container">
                
                <form action="action_page.php" method="post">
              
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" required>
                    <br>
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                  <button type="submit">Login</button>

              </form>
            
            </div>
            <div class="main_container"><img src="images/logo.png"></div>
            <div class="side_pad">6</div>
            <div class="side_pad">7</div>
            <div class="bot_pad">8</div>
            <div class="bot_pad">9</div>
            <div class="bot_main">10</div>
            <div class="bot_pad">11</div>
            <div class="bot_pad">12</div>
          </div>
    </body>
    </html>