
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      min-height: 100%;
      font-size: 15px;
      font-family: 'Poppins', Helvetica, sans-serif;
      line-height: 1.65em;
      overflow: hidden;
      color: #d5d5d5;
      background-repeat: no-repeat;
      background-position: center;
      background-position: 50% 50%;
      background-size: cover;
    }
    


.main-class{
    position: fixed;
    top: 12%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    background-color: rgb(102, 102, 102);
    border-radius: 50px;
    width: 1200px;
    height: 850px;
  }
  

.menu-bg { grid-area: 1 / 1 / 2 / 2;
    background-image: url(../img/shrina.png);
    background-size: 190px;
    background-repeat: no-repeat ;
    background-position: center;
    background-position-y: 40px;
    width: 400px;
    height: 250px;
    align-content: center bottom;
    animation: fadeIn 3s;

}
  
.menu-content { grid-area: 2 / 1 / 4 / 2;
}
  
.content { grid-area: 1 / 2 / 4 / 4; ; 

    background-color: rgb(39, 39, 39);
    width: 800px;
    height: 850px;
    border-radius: 50px;
}
  

.menu { grid-area: 1 / 1 / 3 / 2; 
    align-content: top;
}
.menu-bg { grid-area: 1 / 1 / 2 / 2; }
.menu-content { grid-area: 2 / 1 / 4 / 2; }
.top-menu { grid-area: 2 / 1 / 3 / 2; 
    width: 400px;
    height: 200px;
text-align: center;
}

.mid-menu { grid-area: 3 / 1 / 4 / 2; 
    width: 400px;
    height: 200px;
    text-align: center;
}
.bot-menu { grid-area: 4 / 1 / 5 / 2;

}


.content { grid-area: 1 / 2 / 5 / 4;

    text-align: center;
    color: white;

}




.menu { grid-area: 1 / 1 / 3 / 2; }
.menu-bg { grid-area: 1 / 1 / 2 / 2; }
.menu-content { grid-area: 2 / 1 / 4 / 2; }
.top-menu { grid-area: 2 / 1 / 3 / 2; }
.mid-menu { grid-area: 3 / 1 / 4 / 2; }
.bot-menu { grid-area: 4 / 1 / 5 / 2; }
.content { grid-area: 1 / 2 / 5 / 4; }
.content-header { grid-area: 1 / 2 / 2 / 4;
    text-align: center;
    color: white; }
.main-content { grid-area: 1 / 2 / 5 / 4;
    width: 700px;
    height: 650px;
    font-size: 16px;
    justify-self: center;
    align-self: center  ;
    text-align: center;
    color: white;


}


  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  /* buttons */
.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
  display: inline-block;
  position: relative;
  padding: .8em 1.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1;
  border: 0;
  outline: 0;
  border: 2px solid #f58545;
  color: #f5f5f5;
  text-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  font-family:'Courier New', Courier, monospace;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="submit"]:last-child,
.wp-block-button .wp-block-button__link:last-child {
  margin-right: 0;
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #f58545;
  color: #fff;
  border: 2px solid #f58545;
}

.btn-secondary {
  border-color: #d5d5d5;
  background-color: transparent;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
  color: #f5f5f5;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


h1, h2, h3, h4, h5, h6 {
    color: #eee;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgb(66, 66, 66);
    
  }
  
  h1 {
      font-size: 32px;
      margin-top: 50px;
      text-shadow: 3px 3px 6px rgb(0, 0, 0);
  }
  h2 {
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
       margin-top: 35px;
      font-size: 27px;
  }
  h3 {
    margin-top: 35px;
      font-size: 21px;
      text-shadow: 3px 3px 5px rgb(36, 36, 36);
  }
  h4 {
      font-size: 18px;
      margin-bottom: 5px;
  }
  h5 {
      font-size: 16px;
  }
  h6 {
      font-size: 14px;
  }
  



  .fade-in-text {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn linear .5s;
    -webkit-animation: fadeIn linear .5s;
    -moz-animation: fadeIn linear .5s;
    -o-animation: fadeIn linear .5s;
    -ms-animation: fadeIn linear .5s;
  }
  

  table, th, td {
    font-family: 'Courier New', Courier, monospace;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-collapse: collapse;
  }


  tr{
    transition: .3s;
  }
 tr:hover {
     color: white;
    background-color:coral;
}


.lm-animated-bg {
    position: absolute;
    width: auto;
    height: auto;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
 